<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Form Submission</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link  th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet">
    </head>
    <body>
        <div class="login">
            <h2>用户登录</h2>
            <form id="formId" name="signUpForm" role="form" action="#"
                  th:action="@{/login}" th:object="${user}" method="post" >
                <div class="login_box">
                    <input required name="name" type="text" th:field="*{user_name}" id="name">
                    <label for="name">账号</label>
                </div>
                <div class="login_box">
                    <input required name="password" type="password" th:field="*{user_password}" id="password">
                    <label for="password">密码</label>
                </div>


                <div class="login_box" align="center">
                    <button type="submit" >提交
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="reset" value="Reset">取消
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>





